@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #1f232e;
    --primary-color: #0ef;
    --text-color: #fff;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
}

.app {
    margin: 0 10%;
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    color: var(--text-color);
    font-size: 4.5rem;
    font-weight: 600;
}


.header__navbar-icon {
    color: var(--text-color);
    margin: 0 20px;
    display: none !important;
    font-size: 3.5rem;
}

.header__navbar-icon:hover {
    color: var(--primary-color);
}

.header__navbar-list {
    list-style: none;
}

.header__navbar-item {
    margin-left: 50px;
    display: inline;
}

.header__navbar-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.header__navbar-link--active {
    color: var(--primary-color);
}

.header__navbar-link:hover {
    color: var(--primary-color);
}

.content {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: transparent;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--background-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}